* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  padding: 1rem;
  background-color: #6303b1;
  color: white;
  text-align: center;
  margin: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 1);
}

.cart {
  padding: 4rem;
  margin: 2.5rem;
}

.cart-delete {
  background-color: #6303b1;
  color: white;
  border-radius: 0.375rem;
  padding: 0.625rem 1rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.07);
  margin-bottom: 1.875rem;
}

.filter-input {
  padding: 0.625rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 1);
}

.filter-btn {
  background-color: #6303b1;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.625rem 1rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 1);
}

.products {
  max-width: 56.25rem;
  margin: 0 auto;
  text-align: center;
}

.products-title {
  padding: 0.5625rem;
  margin-bottom: 0.625rem;
  color: #6303b1;
  text-align: center;
  margin: 2.5rem;
}
.products-list {
  display: flex; /* Coloca los <li> en fila horizontal */
  flex-wrap: wrap; /* Si hay muchos, saltan de línea */
  justify-content: center; /* Centra los productos */
  gap: 2rem;
  list-style: none; /* Quita los puntos */
  padding: 0;
  margin: 0 auto;
}

.products-list li {
  display: flex;
  flex-direction: column; /* Imagen arriba, texto abajo */
  align-items: center;
  border-radius: 0.6rem;
  width: 9rem;
  padding: 0.5rem;
  font-size: 0.8rem; /* tamaño */
  text-align: center;
  margin: 0.25rem 0;
  line-height: 1.2;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 1);
}

.product-img img {
  width: 5rem;
  height: auto; /* Mantiene proporciones */
  object-fit: contain;
}

.add {
  background-color: #6303b1;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.3rem 0.5rem;
  margin-top: 0.5rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
}
