* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.body {
  background-color: #fff;
}

.header {
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  background-color: #6303b1;
  color: white;
  text-align: center;
  margin: 2.5rem;
}

.cart {
  padding: 4rem;
}

.cart-delete {
  background-color: #6303b1;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.625rem 1rem;
  gap: 2rem;
  margin-top: 1.5rem;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.05);
  margin-bottom: 1.875rem;
}

.filter-input {
  padding: 0.625rem;
  border-radius: 0.375rem;
}

.filter-btn {
  background-color: #6303b1;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.625rem 1rem;
}

.filter-btn:hover {
  background-color: rgb(232, 172, 232);
}

.products {
  max-width: 56.25rem;
  margin: 0 auto;
  text-align: center;
}

.products-title {
  padding: 0.5625rem;
  margin-bottom: 0.625rem;
  color: #6303b1;
  text-align: center;
  margin: 2.5rem;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.products-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6rem;
  width: 9rem;
  box-shadow: 0 0rem 0.3rem rgba(0, 0, 0, 0.5);
  padding: 0.4rem;
  font-size: 0.8rem;
  text-align: center;
  margin: 0.25rem 0;
  line-height: 1.2;
}

.product-img img {
  width: 5rem;
  height: auto;
  object-fit: contain;
}
