// Colores principales
$primary-color: #6303b1;
$secondary-color: #4b0286;
$accent-color: #ec0303;

// Colores de texto y fondo
$text-light: #ffffff;
$text-dark: #0b0a0a; // Para botones claros o contrastes específicos
$bg-gradient: linear-gradient(135deg, #9f79be 0%, #e1c9f8 100%);

// Bordes y sombras
$border-color: #cccccc;
$shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 1);
$border-radius: 0.6rem;
